<!DOCTYPE html>
<html>
  <head>
    <title>Birdseye</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ css_path }}/style.css">
    <link rel="stylesheet" type="text/css" href="{{ lib_path }}/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ css_path }}/style2.css">

    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="{{ lib_path }}/jquery/dist/jquery.min.js"></script>
    <script src="{{ lib_path }}/underscore/underscore.js"></script>
    <script src="{{ lib_path }}/backbone/backbone.js"></script>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-custom">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Birdseye
          <img id="logo_image" alt="" src="../static/images/birdseye_logo_m_white.png">
        </a>
      </div>
    </nav>

    <div id="map_canvas"></div>

    <div id="map_overlay">
      <a href="#" id="manual_routes" class="list-group-item active">
        Manual Routes
      </a>
      <div id="ip_container" class="list-group">
      </div>

      <ul id="add-ip-container">
        <li class="list-group-item">
          <div class="input-group">
            <input id="search_field" type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit_button" type="button">Add Route</button>
            </span>
          </div>
        </li>
      </ul>

    </div>

    <!-- Templates -->
    <div style="display:none;">

      <div class="ip-list-template">
        <a href="#" class="list-group-item">
          <span class="badge"></span>
          <span class="par"></span>
        </a>
      </div>

      <div class="loading-template spinner">
        <img class="loading" src="{{ image_path }}/loading.gif"></img>
      </div>

    </div>

    <!--<script src="{{ js_path }}/google_map.js"></script>-->
    <script src="{{ js_path }}/models.js"></script>
    <script src="{{ js_path }}/views.js"></script>
    <script src="{{ js_path }}/main.js"></script>
  </body>
</html>
