html, body, #map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}
#logo {
  position: absolute;
  height: 50px;
  width: 150px;
  top: 10px;
  left: 10px;
  z-index: 2;
}
#search_field {
  position: absolute;
  height: 22px;
  width: 150px;
  top: 80px;
  left: 10px;
  z-index: 2;
}
#submit_button {
  position: absolute;
  height: 22px;
  width: 32px;
  top: 80px;
  left: 165px;
  z-index: 2;
}
#about_pannel {
  position: absolute;
  height: 280px;
  width: 187px;
  top: 120px;
  left: 10px;
  background: #fafafa;
  box-shadow: 10px 15px 30px 2px #555555;
}
p {
  position: absolute;
  top: 5px;
  font-size: 12px;
  text-align: justify;
  padding: 10px;
}

#collapse_button {
  float: right;
  position: relative;
  left: 30px;
  top: -2px;
}