/*
Color palete:
  green: #a7c5bd
  beige: #e5ddcb
  orange: #eb7b59
  red: #cf4647
  purple: #524656;
*/

html, body, #map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

#logo_img {
  float: left;
  position: relative;
  left: 60px;
  border-left-style: 1px solid;
  border-color: #322636;
}

#logo, header {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18pt;
  letter-spacing: 2px;
  position: relative;
  float: left;
  top: 0px;
  width: 190px;
  height: 20px;
  z-index: 2;
}

#logo {
  color:#ffffff;
  left: 60px;
}

#search_field {
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #322636;
  background-color: #120616;
  text-align: center;
  font-size: 8pt;
  float: left;
  position: relative;
  top: 29px;
  height: 22px;
  width: 155px;
  z-index: 2;
}

input.button {
  border: 1px solid;
  border-radius: 3px;
  border-color: #322636;
  background-color: #625666;
}

input.button:hover {
  background-color: #827686;
}

#submit_button {
  float: left;
  position: relative;
  top: 29px;
  height: 26px;
  width: 38px;
  z-index: 2;
}

#monitoring_button {
  float: right;
  position: relative;
  left: -30px;
  top: 20%;
  height: 26px;
  z-index: 2;
}

#sample_button {
  float: right;
  position: relative;
  left: -55px;
  top: 20%;
  height: 26px;
  z-index: 2;
}

div.panel {
  background-color: #524656;
  border: 1px solid;
  border-color: #322636;
  border-radius: 2px;
  z-index: 10;
}

#ip_panel {
  background-color: #e5ddcb;
  position: absolute;
  height: 280px;
  width: 200px;
  top: 39px;
  left: -10px;
}

div.panel p {
  position: relative;
  top: 5px;
  font-size: 13px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
}

#trace_start {
  position: relative;
  float: left;
  width: 165px;
  height: 27px;
  top: 5px;
  left: 20px;
}

#collapse_button {
  float: right;
  position: relative;
  left: 39px;
  top: -3px;
}

#top_panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-left-style: none;
  border-right-style: none;
  border-top: none;
  border-bottom-style: solid;
  border-radius: 0px;
  overflow: hidden;
}

#manual_routes {
  position: relative;
  top: 32px;
  left: 0px;
  width: 195px;
  height: 30px;
  border: 1px solid;
  border-bottom-style: none;
  border-radius: 2px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  background-color: #524656;
  color: #ffffff;
  border-color: #000000;
}

#ip_list {

  position: relative;
  border-radius: 2px;
  border: 1px solid;
  border-color: #cf4647;
  background-color: #c5bdab;
  top: 30px;
  left: 0px;
  height: 150px;
  width: 195px;
  overflow: auto;
  border: 1px solid;
}

.remove_button {
  position: relative;
  height: 20px;
  top: 3px;
  float: right;
  font-size: 10px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #322636;
  background-color: #625666;
}

.loading {
  position: relative;
  top: 5px;
  padding-right: 3px;
  float: right;
}

div.ip {
  border-style: none;
  border-bottom: 1px solid;
  padding-left: 8px;
  padding-right: 3px;
  font-family: 'Titillium Web', sans-serif;
}

#map_overlay {
  position: absolute;
  width:350px;
  top:60px;
  left:10px;
}
