/*
  Color palette:
    green:   #a7c5bd
    beige:   #e5ddcb
    orange:  #eb7b59
    red:     #cf4647
    purple:  #524656

  The style sheet is organized using the following rules:
    - there are 3 sections: styles by ID, styles by class and bootstrap overrides.
    - within those sections, elements are organized by there vertical position on the page.
      Elements at the top of the page will be listed first.
*/

/* --ID-- */

html, body, #map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  overflow:hidden;
}

#logo_image {
  color:#ffffff;
  float: left;
  position: relative;
  top: -5px;
}

#manual_routes {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #524656;
  color: #ffffff;
  border-color:#444444;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

#map_overlay {
  background-color: #e5ddcb;
  position: absolute;
  width:350px;
  top:60px;
  left:10px;
  border-radius: 4px;
}

#ip_container {
  max-height:130px;
  overflow-y: auto;
}

#add-ip-container {
  margin-top:10px;
  padding-left:0;
}

/* --CLASS-- */

.list-group-item.focus {
  background-color:#f5f5f5;
}

.loading {
  float:right;
  width:20px;
  top:1px;
}

.icon {
  float:right;
  padding:2px;
  padding-left:10px;
}

.remove-route:hover {
  color:red;
}

.hide-route:hover {
  color:#a7c5bd;
}

/* --BOOTSTRAP OVERRIDES-- */

.navbar {
  margin-bottom:0;
  z-index:1;
  background-color: #524656;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-width: 2px;
  border-radius: 0px;
}

.navbar-brand {
  float: left;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 4px;
  color: #e5ddcb;
  font-size: 30px;
}

.list-group-item {
  width:100%;
}
