<!DOCTYPE html>
<html>
  <head>
    <title>Birdseye</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="panel" id="top_panel">
      <div id="logo"><h1>Birdseye</h1></div>
      <input id="search_field" type="text" placeholder="Enter IP or domain">
      <input id="submit_button" type="button" value="add">
    </div>
    <div id="map_canvas"></div>
    <div class="panel" id="ip_panel">
      <input id="collapse_button" type="button" value="<<<">
      <p>
      	<b>IP List:</b></br>
        <div id="ip_list">
        </div>
        <input id="trace_start" type="button" value="strart traceroute">
      </p>
    </div>
    <script src="../static/google_map.js"></script>
  </body>
</html>